/* @import "fonts.css"; */
@font-face {
    font-family:'SamsungOneLt';
    src:url('../fonts/SamsungOneLt.eot');
    src:url('../fonts/SamsungOneLt?#iefix') format('embedded-opentype'),
        url('../fonts/SamsungOneLt.woff') format('woff'),
        url('../fonts/SamsungOneLt.svg#SamsungOneLt') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'SamsungOneRg';
    src:url('../fonts/SamsungOneRg.eot');
    src:url('../fonts/SamsungOneRg?#iefix') format('embedded-opentype'),
        url('../fonts/SamsungOneRg.woff') format('woff'),
        url('../fonts/SamsungOneRg.svg#SamsungOneLt') format('svg');
    font-weight:normal;
    font-style:normal;
}

a[class*="-common-btn"]{display:inline-block;font-family:'SamsungOneRg' !important;padding:0;height:42px;font-size:17px;text-transform:uppercase;line-height:1;background:#fff;padding:10px;}
.common-btn-area{display:table;width:100%;}
.common-btn-area a[class*="-common-btn"]{display:table-cell;text-align:center;vertical-align:middle;}
.blue-common-btn{color:#4774cf !important;border:2px solid #4774cf;}
.pink-common-btn{color:#f48fb1 !important;border:2px solid #f48fb1;}
.big-common-btn{height:50px;padding:15px 25px 0;}
.arr-common-btn:after{content:'';display:inline-block;width:5px;height:12px;margin-left:5px;}
.blue-common-btn.arr-common-btn:after{background:url('../images/ssds_configurator/btn_m_arrow1.gif') no-repeat 0 center;}
.pink-common-btn.arr-common-btn:after{background:url('../images/ssds_configurator/btn_l_arrow4_off.gif') no-repeat 0 center;}
.reset-common-btn:before{content:'';display:block;float:left;width:19px;height:18px;background:url('../images/ssds_configurator/btn_led_reset2_icon.png') no-repeat 0 center;margin:-1px 5px 0 0;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {appearance:none;-webkit-appearance:none;-moz-appearance:none;margin: 0;}


/* input-count-group */
dl.input-count-group dt{margin:10px 10px 0 0;float:left;}
dl.input-count-group dd{position:relative;border:1px solid #d3d3d3;height:36px;width:92px;float:left;overflow:hidden;}
dl.input-count-group dd input{height:100%;width:50px;margin-left:10px;float:left;}
dl.input-count-group dd .count-btn{width:30px;float:right;}
dl.input-count-group dd .count-btn a{display:block;width:30px;height:17px;background:url('../images/ssds_configurator/arrow_up.gif') no-repeat 0 0;}
dl.input-count-group dd .count-btn a.down{background:url('../images/ssds_configurator/arrow_down.gif') no-repeat 0 0;}

/* width resolution */
.fix-width-1240{width:100%;max-width:1240px;margin:0 auto;}
.fix-width-1200{width:100%;max-width:1200px;margin:0 auto;}

/* layer common */
.layer{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;}
.layer .layer-dimmed{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;}
.layer .layer-inner-wrap{position:relative;width:600px;margin:0 auto;background:#fff;padding:40px;}
.layer .layer-inner-wrap h3{font-family:'SamsungOneLt';font-size:32px;color:#000;text-align:center;}
.layer .layer-inner-wrap .layer-content{margin-top:50px;}
.layer .layer-close{position:absolute;display:block;padding:20px;width:60px;height:60px;top:0;right:0;text-indent:-9999px;background:url('../images/ssds_configurator/btn_pop_close.png') no-repeat center center;}