@import "fonts.css";

[class*="-common-btn"]{font-family:'SamsungOneRg' !important;padding:12px 20px 0 20px;height:44px;font-size:17px;text-transform:uppercase;line-height:1;display:inline-block;}
.blue-common-btn{color:#4774cf !important;border:2px solid #4774cf;}