.model-title{font-size:52px;font-family:'SamsungOneLt';text-align:center;color:#000;}
.product-view{vertical-align:top;text-align:center;background:#fff;padding:50px 20px;}
.product-view a{margin-top:40px;width:200px;margin:0 auto;}

/* step-section */
.step-section .question-area{text-align:center;}
.step-section .question-area .question-txt{font-size:45px;font-family:'SamsungOneLt';color:#000;}
.step-section .option-area{margin-top:30px;}
.step-section .option-area ul{text-align:center;font-size:0;}
.step-section .option-area ul li{width:296px;border:3px solid #5d7ecb;border-radius:5px;display:inline-block;text-align:center;margin:0 5px;box-shadow:1px 2px 6px rgba(0,0,0,.2);}
.step-section .option-area ul li a{display:block;padding:10px 20px 20px;}
.step-section .option-area ul li a span{display:block;text-align:center;font-size:22px;font-family:'SamsungOneRg';color:#222;}
.step-section .option-area ul li a span.option-title{margin-top:15px;}
.step-section a.btn-back{font-size:20px;font-family:'SamsungOneRg';color:#fff;display:block;background:#5d7ecb;width:300px;margin:80px auto 0;padding:15px 0 0 140px;height:54px;border-radius:27px;background:url('../images/ssds_smartchoice/btn_back.gif') no-repeat 0 0;line-height:1;}

/* result-section */
.result-section{padding:15px;}
.result-section .result-section-wrap{display:table;border:3px solid #5d7ecb;border-radius:5px;width:100%;background:#e8edf8;}
.result-section .result-section-wrap > div{display:table-cell;}
.result-section .product-area{vertical-align:middle;}
.result-section .description-area{padding:50px 20px 50px 50px;font-family:'SamsungOneLt';color:#000;}
.result-section .description-area h4{font-size:32px;}
.result-section .description-area p{font-size:20px;margin-top:5px;}
.result-section .description-area dl{margin-top:30px;}
.result-section .description-area dt{font-size:20px;}
.result-section .description-area dd{font-size:16px;margin-top:10px;line-height:1.4;color:#666;}
.result-section .description-area dd li{margin-top:5px;padding-left:15px;position:relative;}
.result-section .description-area dd li:before{content:'';position:absolute;left:0;top:8px;width:3px;height:3px;background:#222;}
.result-section .description-area dd li:first-child{margin-top:0;}
.result-section .description-area .btn-area{margin-top:30px;}
.result-section .description-area .btn-area a{width:300px;padding-left:55px;}
.result-section .description-area .btn-area a.btn-reset{padding-left:120px;position:relative;margin-top:15px;}
.result-section .description-area .btn-area a.btn-reset:before{content:'';width:35px;height:35px;position:absolute;top:10px;margin-left:-35px;background:url('../images/ssds_configurator/set_btn_reset.png') no-repeat 0 0;}

/* more-section */
.more-section{display:table;margin-top:30px;width:100%;}
.more-section > div{display:table-cell;padding:30px;font-family:'SamsungOneLt';width:50%;}
.more-section .measure-area{padding:30px 100px 30px 20px;}
.more-section .measure-area .product-area{margin-top:76px;}
.more-section .measure-area .product-area ul{overflow:hidden;font-size:20px;margin-top:100px;}
.more-section .measure-area .product-area li{width:33.3333%;float:left;}
.more-section .measure-area .product-area li span{color:#3d63ba;display:inline-block;position:relative;padding-left:15px;}
.more-section .measure-area .product-area li span:before{content:'';position:absolute;left:0;top:12px;width:3px;height:3px;background:#222;}
.more-section .measure-area .btn-area{margin-top:50px;}
.more-section .measure-area .product-area .product-measure{font-size:20px;color:#3d63ba;position:relative;}
.more-section .measure-area .product-area .product-measure img{width:100%;}
.more-section .measure-area .product-area .product-measure span{position:absolute;display:block;width:100%;}
.more-section .measure-area .product-area .product-measure .h-measure{top:-15px;left:0;height:10px;border-left:1px solid #000;border-right:1px solid #000;}
.more-section .measure-area .product-area .product-measure .h-measure em{display:block;margin-top:-30px;}
.more-section .measure-area .product-area .product-measure .h-measure:before{content:'';width:100%;height:1px;position:absolute;background:#000;top:5px;left:0;}
.more-section .measure-area .product-area .product-measure .v-measure{top:0;right:-15px;width:10px;height:100%;border-top:1px solid #000;border-bottom:1px solid #000;}
.more-section .measure-area .product-area .product-measure .v-measure em{display:block;position:absolute;right:-20px;top:50%;}
.more-section .measure-area .product-area .product-measure .v-measure:before{content:'';width:1px;height:100%;position:absolute;background:#000;top:0;left:5px;}
.more-section .spec-area .spec-title{padding:10px 15px;color:#fff;font-size:17px;background:#434655;}
.more-section .spec-area table{width:100%;font-size:13px;}
.more-section .spec-area th, .more-section .spec-area td{width:20%;text-align:center;padding:10px;border:1px solid #c7d2ee;color:#4774cf;}
.more-section .spec-area th{background:#e8f0ff;border-left:none;}
.more-section .spec-area td{background:#f3f7ff;}
.more-section .spec-area td.cont{background:#fff;color:#777;border-right:none;}
