.option-tab-area .option-tab .option-tab-btn{width:290px;}
.option-tab-area .option-tab .option-tab-btn-wide{width:620px;}
.option-tab-area .option-tab .option-tab-btn-wide ul{width:552px;}
.option-tab-area .option-tab .option-tab-btn.display-tab-btn li:last-child a{background:url('../images/ssds_configurator/icon_configurator04.gif') no-repeat top center;}