[class*="area-box-"]{width:100%;}
[class*="area-inner-box-"]{width:100%;margin:0 auto;}

.area-inner-box-1400{max-width:1400px;}
.area-inner-box-1200{max-width:1200px;}
.area-inner-box-960{max-width:960px;}

.title-area{padding:75px 0 30px 0;}
.title-area .title-wrap{position:relative;}
.title-area h1{font-family:'SamsungOneLt';text-align:center;font-size:50px;color:#000;}
.title-area .need-help-step-btn{position:absolute;top:12px;right:0;}

.option-tab-area{height:234px;}
.option-tab-area .option-tab{overflow:hidden;background:#5d7ecb;color:#fff;}
.option-tab-area .option-tab .area-inner-box-1200{overflow:hidden;}
.option-tab-area .option-tab .option-tab-btn{float:left;width:382px;display:block;margin:30px 0 0 0;background:url('../images/ssds_configurator/line_opt_diver.gif') no-repeat right top;}
.option-tab-area .option-tab .option-tab-btn:last-child{background:none;}
.option-tab-area .option-tab .option-tab-btn.content-tab-btn{border-right:none;}
.option-tab-area .option-tab .option-tab-btn-wide{width:436px;}
.option-tab-area .option-tab .option-tab-btn h3{font-family:'SamsungOneLt';font-size:16px;text-transform:uppercase;text-align:center;}
.option-tab-area .option-tab .option-tab-btn h3 span{display:inline-block;border:1px solid #fff;border-radius:100%;width:20px;height:20px;margin-right:10px;}
.option-tab-area .option-tab .option-tab-btn li{width:196px;margin:24px auto 0;padding:0 0 28px 0;}
.option-tab-area .option-tab .option-tab-btn-wide ul{width:368px;margin:0 auto;overflow:hidden;}
.option-tab-area .option-tab .option-tab-btn-wide li{display:block;width:184px;float:left;}
.option-tab-area .option-tab .option-tab-btn li.active{background:url('../images/ssds_configurator/anchor_this_item.gif') no-repeat bottom center;}
.option-tab-area .option-tab .option-tab-btn li a{display:block;font-family:'SamsungOneLt';font-size:15px;text-align:center;padding-top:48px;width:124px;margin:0 auto;}
.option-tab-area .option-tab .option-tab-btn.room-tab-btn li a{background:url('../images/ssds_configurator/icon_configurator01.gif') no-repeat top center;opacity:.4;}
.option-tab-area .option-tab .option-tab-btn.room-tab-btn li.active a{opacity:1;}
.option-tab-area .option-tab .option-tab-btn.display-tab-btn li a{background:url('../images/ssds_configurator/icon_configurator03.gif') no-repeat top center;opacity:.4;}
.option-tab-area .option-tab .option-tab-btn.display-tab-btn li.active a{opacity:1;}
.option-tab-area .option-tab .option-tab-btn.display-tab-btn li:first-child a{background:url('../images/ssds_configurator/icon_configurator02.gif') no-repeat top center;opacity:.4;}
.option-tab-area .option-tab .option-tab-btn.display-tab-btn li:first-child.active a{opacity:1;}
.option-tab-area .option-tab .option-tab-btn.content-tab-btn li a{background:url('../images/ssds_configurator/icon_configurator05.gif') no-repeat top center;opacity:.4;}
.option-tab-area .option-tab .option-tab-btn.content-tab-btn li.active a{opacity:1;}
.option-tab-area .option-conts{height:63px;background:#fff;overflow:hidden;}
.option-tab-area .option-conts .area-inner-box-960{position:relative;height:100%;}
.option-tab-area .option-conts .fit-btn{position:absolute;right:0;top:11px;width:180px;height:42px;}
.option-tab-area .option-conts .fit-btn:before{content:'';display:inline-block;width:29px;height:22px;line-height:22px;background:url('../images/ssds_configurator/btn_led_fit_icon.png') no-repeat 0 0;margin:-3px 10px 0 0;}
.option-tab-area .option-conts .option-con{position:absolute;top:0;left:0;display:block;padding:11px 10px 0;}
.option-tab-area .option-conts .option-con.room-option-con li{overflow:hidden;}
.option-tab-area .option-conts .option-con.room-option-con li > div{float:left;}
.option-tab-area .option-conts .option-con.room-option-con li > div.unit-btn{overflow:hidden;}
.option-tab-area .option-conts .option-con.room-option-con li > div.unit-btn a{float:left;margin-left:10px;}
.option-tab-area .option-conts .option-con.room-option-con li > div.unit-btn a:first-child{margin-left:0;}
.option-tab-area .option-conts .option-con.room-option-con li > div.wall-size{overflow:hidden;margin:5px 0 0 0;font-family:'SamsungOneLt';font-size:15px;}
.option-tab-area .option-conts .option-con.room-option-con li > div.wall-size dl{float:left;overflow:hidden;margin-left:10px;}
.option-tab-area .option-conts .option-con.room-option-con li > div.wall-size dl:first-child{margin-left:20px;}
.option-tab-area .option-conts .option-con.display-option-con{display:none;}
.option-tab-area .option-conts .option-con.display-option-con li.choose-model-con{overflow:hidden;display:none;}
.option-tab-area .option-conts .option-con.display-option-con li.choose-model-con a{float:left;}
.option-tab-area .option-conts .option-con.display-option-con li.choose-model-con dl{float:left;font-family:'SamsungOneLt';font-size:15px;margin:10px 0 0 0;overflow:hidden;}
.option-tab-area .option-conts .option-con.display-option-con li.choose-model-con dl dt{margin:0 0 0 20px;float:left;line-height:1.4;}
.option-tab-area .option-conts .option-con.display-option-con li.choose-model-con dl dd{margin:0 0 0 5px;float:left;font-size:18px;color:#f48fb1;}
.option-tab-area .option-conts .option-con.display-option-con li.display-layout-con{overflow:hidden;display:block;}
.option-tab-area .option-conts .option-con.display-option-con li.display-layout-con .display-layout-con-inner{float:left;overflow:hidden;font-family:'SamsungOneLt';font-size:15px;}
.option-tab-area .option-conts .option-con.display-option-con li.display-layout-con .display-layout-con-inner dl{float:left;margin-left:10px;}
.option-tab-area .option-conts .option-con.display-option-con li.display-layout-con .display-layout-con-inner dl:first-child{margin-left:20px;}
.option-tab-area .option-conts .option-con.display-option-con li.display-layout-con > a{float:left;margin-left:20px;}
.option-tab-area .option-conts .option-con.display-option-con li.display-layout-con .resolution-btn{float:left;margin-left:20px;overflow:hidden;}
.option-tab-area .option-conts .option-con.display-option-con li.display-layout-con .resolution-btn a{float:left;margin-left:10px;}
.option-tab-area .option-conts .option-con.display-option-con li.display-layout-con .resolution-btn a:first-child{margin-left:0;}
.option-tab-area .option-conts .option-con.content-option-con{display:none;position:relative;}
.option-tab-area .option-conts .option-con.content-option-con li{overflow:hidden;}
.option-tab-area .option-conts .option-con.content-option-con .upload-btn{position:relative;font-size:13px;padding:11px 12px 0;height:40px;float:left;}
.option-tab-area .option-conts .option-con.content-option-con .upload-btn input[type=file]{position:absolute;left:0;top:0;width:92px;height:32px;opacity:0;cursor: pointer;}
.option-tab-area .option-conts .option-con select{height:40px;padding:0 38px 0 20px;border:1px solid #666;background:#fff url('../images/ssds_configurator/set_fakeselect1.png') no-repeat right top;border-radius:3px;margin-left:10px;}
.option-tab-area .option-conts .option-con.content-option-con .desc{vertical-align:top;display:inline-block;margin:5px 0 0 5px;}

.wall-display-area{background:#ebedf0;}
.wall-display-area .wall-display-area-inner{padding-bottom:100px;}
.wall-display-area .pdf-area{position:relative;padding:40px 0 0 0;width:1020px;margin:0 auto;}
.wall-display-area .pdf-area .wall-area{position:relative;width:692px;margin:0 auto;padding-bottom:70px;background:url('../images/ssds_configurator/bg_img_monitor_bar.png') no-repeat center bottom;}
.wall-display-area .pdf-area .wall-area .wall{position:relative;width:100%;height:410px;border:2px solid #000;background:#fff;}
.wall-display-area .pdf-area .person-area{position:absolute;bottom:-10px;}
.wall-display-area .pdf-area .menu-area{position:absolute;left:-45px;top:50%;}
.wall-display-area .pdf-area .menu-area li{width:38px;height:38px;margin:5px 0 0;background:#434655;}
.wall-display-area .pdf-area .menu-area li:first-child{margin-top:0;}
.wall-display-area .pdf-area .menu-area li:hover{background:#5d7ecb;}
.wall-display-area .pdf-area .menu-area li a{display:block;width:100%;height:100%;background:url('../images/ssds_configurator/btn_upload_content.png') no-repeat 0 0;}
.wall-display-area .pdf-area .menu-area li:first-child a{background:url('../images/ssds_configurator/btn_model.png') no-repeat 0 0;}

.wall-display-area .pdf-area .control-btns li{width:36px;height:36px;margin:5px 0 0;border-radius:100%;overflow:hidden;background:#fff;}
.wall-display-area .pdf-area .control-btns li:first-child{margin:0;}
.wall-display-area .pdf-area .control-btns li:hover{background:#434655;}
.wall-display-area .pdf-area .control-btns li a{display:block;width:100%;height:100%;}
.wall-display-area .pdf-area .control-btns li.control-plus a{background:url('../images/ssds_configurator/set_btn_pluse.gif') no-repeat center 0;}
.wall-display-area .pdf-area .control-btns li.control-minus a{background:url('../images/ssds_configurator/set_btn_minus.gif') no-repeat center 0;}
.wall-display-area .pdf-area .control-btns li a:hover{background-position:center -36px;}

.wall-display-area .pdf-area .v-count-area{position:absolute;right:-45px;top:50%;margin-top:-38px;}
.wall-display-area .pdf-area .h-count-area{position:absolute;left:50%;bottom:-45px;margin-left:-41px;}
.wall-display-area .pdf-area .h-count-area li{float:left;margin:0 5px;}
.wall-display-area .pdf-area .h-count-area li:first-child{margin:0;}

.wall-display-area .pdf-area .display-area{position:absolute;left:234.362px;top:174.821px;width:220.27px;height:61.95px;border:solid 1px #000;overflow:hidden;background:#fff;z-index:1;}
.wall-display-area .pdf-area .model-tag{position:absolute;padding:5px 10px;background:#6a6a6a;color:#fff;right:0;top:0;}
.wall-display-area .pdf-area .measure-line{position:absolute;}
.wall-display-area .pdf-area .tag-area{position:absolute;}
.wall-display-area .pdf-area .tag-area span{position:relative;color:#fff;background:#000;padding:5px 10px;display:block;}
.wall-display-area .pdf-area .h-measure-tag-area{position:absolute;top:235px;left:0;width:100%;height:265px;}
.wall-display-area .pdf-area .h-measure-tag-area .h-wall-measure-line{bottom:0;width:238px;height:90.94px;border-bottom:2px solid #9ea0a6;}
.wall-display-area .pdf-area .h-measure-tag-area .h-wall-measure-line:before{content:'';position:absolute;display:block;width:2px;height:15px;background: #9ea0a6;bottom:-8px;}
.wall-display-area .pdf-area .h-measure-tag-area .h-wall-measure-left{left:0;border-left:2px dotted #9ea0a6;}
.wall-display-area .pdf-area .h-measure-tag-area .h-wall-measure-left:before{left:-2px;}
.wall-display-area .pdf-area .h-measure-tag-area .h-wall-measure-right{right:0;border-right:2px dotted #9ea0a6;}
.wall-display-area .pdf-area .h-measure-tag-area .h-wall-measure-right:before{right:-2px;}
.wall-display-area .pdf-area .h-measure-tag-area .h-display-measure{height:100%;width:220.27px;left:236px;top:0;border-bottom:2px solid #000;border-right:2px dotted #000;border-left:2px dotted #000;}
.wall-display-area .pdf-area .h-measure-tag-area .h-display-measure:before{content:'';position:absolute;display:block;width:2px;height:15px;background: #000;bottom:-8px;left:-2px;}
.wall-display-area .pdf-area .h-measure-tag-area .h-display-measure:after{content:'';position:absolute;display:block;width:2px;height:15px;background: #000;bottom:-8px;right:-2px;}
.wall-display-area .pdf-area .h-measure-tag-area .tag-area{position:absolute;bottom:-40px;left:50%;margin-left:-32px;}

.wall-display-area .pdf-area .v-measure-tag-area{position:absolute;top:0;left:456px;width:295.865px;height:410px;}
.wall-display-area .pdf-area .v-measure-tag-area .v-wall-measure-line{right:0;width:59.991px;height:174.03px;border-right:2px solid #9ea0a6;}
.wall-display-area .pdf-area .v-measure-tag-area .v-wall-measure-top{top:0;border-top:2px dotted #9ea0a6;}
.wall-display-area .pdf-area .v-measure-tag-area .v-wall-measure-top:before{content:'';position:absolute;height:2px;width:15px;right:-9px;top:-2px;background:#9ea0a6;}
.wall-display-area .pdf-area .v-measure-tag-area .v-wall-measure-bottom{bottom:0;border-bottom:2px dotted #9ea0a6;}
.wall-display-area .pdf-area .v-measure-tag-area .v-wall-measure-bottom:before{content:'';position:absolute;height:2px;width:15px;right:-9px;bottom:-2px;background:#9ea0a6;}
.wall-display-area .pdf-area .v-measure-tag-area .v-display-measure{top:176.03px;right:0;width:100%;height:61.94px;border-bottom:2px dotted #000;border-top:2px dotted #000;border-right:2px solid #000;}
.wall-display-area .pdf-area .v-measure-tag-area .v-display-measure:before{content:'';position:absolute;height:2px;width:15px;right:-9px;top:-2px;background:#000;}
.wall-display-area .pdf-area .v-measure-tag-area .v-display-measure:after{content:'';position:absolute;height:2px;width:15px;right:-9px;bottom:-2px;background:#000;}
.wall-display-area .pdf-area .v-measure-tag-area .tag-area{right:-90px;}
.wall-display-area .pdf-area .v-measure-tag-area .v-wall-measure-top .tag-area, .wall-display-area .pdf-area .v-measure-tag-area .v-wall-measure-bottom .tag-area{top:74.515px;}
.wall-display-area .pdf-area .v-measure-tag-area .v-display-measure .tag-area{top:18.47px;}

.btn-area{overflow:hidden;padding:20px 40px 30px;}
.btn-area .mode-btns{float:left;}
.btn-area .mode-btns ul{overflow: hidden;}
.btn-area .mode-btns li{float: left;margin-left:10px;}
.btn-area .mode-btns li:first-child{margin-left:0;}
.btn-area .mode-btns li a, .btn-area .pdf-btns a{height:46px;padding-top:13px;}
.btn-area .pdf-btns{float:right;}
.btn-area .pdf-btns a:before{content:'';display:inline-block;width:16px;height:18px;margin-right:10px;background:url('../images/ssds_configurator/set_btn_down2.png') no-repeat 0 0;}
.btn-area [class*="-btns"] a{width:200px;text-align:center;}

.spec-area{color:#4774cf;padding:0 0 100px;font-size:16px;}
.spec-area .spec-title-area{background:#434655;height:77px;padding:20px 20px 0 30px;font-family:'SamsungOneLt';color:#fff;}
.spec-area .spec-title-area h3{font-size:32px;float:left;}
.spec-area .spec-title-area .spec-model{font-size:28px;float:right;padding-left:44px;background:url('../images/ssds_configurator/icon_model.gif') no-repeat 0 center;}
.spec-area .spec-table{}
.spec-area .spec-table [class*="spec-"]{width:33.33333%;text-align:center;padding:10px;border:1px solid #c7d2ee;}
.spec-area .spec-table .spec-head{background:#e8f0ff;border-left:0;}
.spec-area .spec-table .spec-stitle{background:#f3f7ff;}
.spec-area .spec-table .spec-cont{color:#777;background:#fff;border-right:0;}
.spec-area .spec-desc{text-align:right;margin-top:10px;}

.layer-choose-model{width:980px;}
.layer-choose-model .layer-content{overflow:hidden;}
.layer-choose-model .choose-model-detail{width:306px;float:left;position:relative;}
.layer-choose-model .choose-model-detail img{width:100%;}
.layer-choose-model .choose-model-detail .choose-model-title{margin-top:10px;font-family:'SamsungOneLt';}
.layer-choose-model .choose-model-detail .choose-model-title a{display:block;color:#3f85fe;font-size:20px;}
.layer-choose-model .choose-model-detail .choose-model-title span{color:#222;font-size:14px;}
.layer-choose-model .choose-model-detail dl{margin-top:10px;overflow:hidden;font-size:15px;;line-height:20px;}
.layer-choose-model .choose-model-detail dl dt{position:relative;float:left;color:#000;padding-right:7px;}
.layer-choose-model .choose-model-detail dl dt:after{content:':';position:absolute;right:1px;top:0;font-size:17px;}
.layer-choose-model .choose-model-detail dl dd{color:#666;}
.layer-choose-model .choose-model-detail .common-btn-area{margin-top:10px;height:45px;}
.layer-choose-model .choose-model-list{width:593px;float:right;position:relative;}
.layer-choose-model .choose-model-list .tab-btn{overflow:hidden;margin-bottom:10px;}
.layer-choose-model .choose-model-list .tab-btn li{float:left;margin-right:5px;padding-bottom:5px;}
.layer-choose-model .choose-model-list .tab-btn li a{position:relative;display:block;padding:10px 20px;font-family:'SamsungOneLt';font-size:18px;color:#222;background:#d9d9d9;}
.layer-choose-model .choose-model-list .tab-btn li.active a{color:#fff;background:#3d63ba;}
.layer-choose-model .choose-model-list .tab-btn li.active a:after{content:'';position: absolute;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #3d63ba;bottom:-5px;left:50%;margin-left:-2px;}
.layer-choose-model .choose-model-list .tab-con table{font-family:'SamsungOneLt';font-size:17px;line-height:1.1;color:#222;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;}
.layer-choose-model .choose-model-list .tab-con table th, .layer-choose-model .choose-model-list .tab-con table td{padding:15px 0;width:25%;text-align:center;}
.layer-choose-model .choose-model-list .tab-con table th{background:#f1f5f9;border-bottom:1px solid #e1e1e1;}

