@font-face {
	font-family: "Gotham";
	font-style: normal;
	font-weight: 300;
	src:url(fonts/gotham-medium.woff2) format('woff2'),
		url(fonts/gotham-medium.woff) format('woff'),
		url(fonts/gotham-medium.otf) format('opentype');
}

@font-face {
	font-family: "Gotham";
	font-style: normal;
	font-weight: 500;
	src:url(fonts/gotham-bold.woff2) format('woff2'),
		url(fonts/gotham-bold.woff) format('woff'),
		url(fonts/gotham-bold.otf) format('opentype');
}

@font-face {
	font-family: "GothamB";
	font-style: normal;
	font-weight: normal;
	src:url(fonts/gotham-book.woff2) format('woff2'),
		url(fonts/gotham-book.woff) format('woff'),
		url(fonts/gotham-book.otf) format('opentype');
}